
html,body{
    margin:0;
    padding: 0;
    background-color: #ededed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
                 'Lucida Sans', Arial, sans-serif;
    color: blanchedalmond;
}
.container{
    margin:auto auto;
    width: 100%;
    padding: 70px 0;
    text-align: center;
}
.innercontainer{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #cacfe9f5;
}
form{
    width: 70%;
    height: auto;
    margin: auto;
    text-align: center;
    background-color: #030424;
    padding-bottom: 20px;
    padding-top: 20px;
}
#output{
    width: 50%;
    height: 50px;
    background-color: #ededed;
    border-radius: 10px;
    text-align: center;
    font-weight: 350;
    font-size: 25px;
    color:black;
    cursor: not-allowed;
    margin-bottom: 5px;
}
#input{
    width: 40%;
    height: 40px;
    margin-bottom: 6px;
    background-color: #ededed;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    border: 1px solid black;
}
section,#input{
    display: inline;
}
fieldset{
    border:none;
}
input[name="input"],input[name="output"]{
    cursor: pointer;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

label{
    font-family: inherit;
    font-size: 16px;
}

.buttons{
    border: 1px solid black;
    font-weight: bolder;
    font-size: 15px;
    padding: 4px 8px;
    height: 30px;
    background-color: #c57668;
    border-radius: 10px 10px;
}
.buttons:hover{
    background-color: #e5e2e2f5;
    color: #d88071;;
    cursor: pointer;
}

#credits{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 12px;
    color: #e9dfdf;
}



@media (min-width: 300px) {
    .container {
      max-width: 540px;
    }
    .innercontainer{
        width: 100%;
    }
    form{
        width: 90%;
    }
    #input{
        width: 45%;
        height: 33px;
    }
    #output{
        width: 88%;
    }
}
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
    .innercontainer{
        width: 100%;
    }
    form{
        width: 90%;
    }
    #input{
        width: 44%;
        height: 33px;
    }
    #output{
        width: 76%;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
    .innercontainer{
        width: 100%;
    }
    form{
        width: 90%;
    }
    #input{
        width: 44%;
        height: 35px;
    }
    #output{
        width: 63%;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
    .innercontainer{
        width: 100%;
    }
    form{
        width: 90%;
    }
    #input{
        width: 37%;
        height: 40px;
    }
    #output{
        width: 55%;
    }
  }